.navbar {
    height: 60px;
    font-size: 18px;
    background-color: #333;

    &-items {
        height: 100%;
    }
    &-item {
        align-self: center;
        margin-left: 10px;
        a {
            color: white;
            font-weight: bold;
        }
    }
    .logout {
        text-align: end;
    }
}
