.main-container {
    min-height: 100vh;
    margin: 40px;
}

.search-countries{
    width: 100%;
    margin: 40px 0;
    justify-content: center;
    .add-countries{
        margin-left: 20px;
    }
}

.search-items-list {
    min-width: 100%;
    .ant-list {
        min-width: 100%;
    }
}